<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <script defer type="module" src="/js/admin/admins.js"></script>
  <title>Admin List Page</title>
</head>
<body>
<main layout:fragment="main-content" th:class="main-container">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2>회원 관리</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">회원 관리</li>
            <li class="breadcrumb-item active" aria-current="page">관리자 목록</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-12 mb-5">
        <div class="card h-100 card-lg">
          <div class=" p-6 ">
            <div class="row justify-content-between">
              <div class="col-md-4 col-12 mb-2 mb-md-0">
                <div class="input-group">
                  <input id="searchInput" class="form-control" placeholder="이름 입력">
                  <button id="searchButton" type="button" class="btn btn-primary">검색</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-12" style="padding-bottom:10px;">
                  <select class="form-select" id="roleFilter">
                      <option value="">전체</option>
                      <option value="ADMIN">관리자</option>
                      <option value="RESTAURANT">식당 사장</option>
                  </select>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                  <thead class="bg-light">
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">이름</th>
                    <th class="text-center">아이디</th>
                    <th class="text-center">권한</th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="border-top d-md-flex justify-content-between align-items-center p-6">
              <span id="pagination-info"></span>
              <nav class="mt-2 mt-md-0">
                <ul class="pagination mb-0" id="pagination-list">
                  <li class="page-item" id="previous" style="display: none;"><a class="page-link" href="#!">Previous</a></li>
                  <li class="page-item" id="next" style="display: none;"><a class="page-link" href="#!">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>