<!DOCTYPE html>
<html th:replace="~{fragment/admin-layout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">



<main>
    <!-- container -->
    <div class="container">
        <div class="row mb-8">
            <div class="col-md-12">
                <!-- page header -->
                <h2>식당 상세</h2>
                <!-- breacrumb -->
            </div>
        </div>

    <!-- row -->
        <div class="row ">
            <div class="d-flex justify-content-end">
                <button type="button" th:onclick="|location.href='@{/admin-restaurants}'|" class="btn btn-outline-dark me-2" style="border-radius: 5%;">뒤로</button>
                <button type="button" th:onclick="|location.href='@{/admin-restaurants/{id}/update(id = ${restaurant.id})}'|" class="btn btn-outline-info" style="border-radius: 5%;">수정</button>
                <button type="button" th:onclick="|location.href='@{/admin-restaurants/{id}/delete(id = ${restaurant.id})}'|" class="btn btn-outline-danger mx-2" style="border-radius: 5%;">삭제</button>
            </div>
            <div class="col-xl-12 col-12 mb-5">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="card-body p-6">
                        <!-- table -->

                        <table class="table mb-6 border fs-5" style="width:80rem">
                            <tbody>
                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;width: 15%; background-color:#D5EED1">ID</td>
                                <td th:text="${restaurant.id}">10</td>
                                <td class="table-success fw-bold" style="text-align:center;width: 15%; background-color:#D5EED1">상태</td>
                                <td>영업</td>  <!-- 영업 , 폐업 , 중지로 나누자 -->
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">사업자 등록번호</td>
                                <td th:text="${restaurant.businessNum}">123-45-67890</td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">등록일</td>
                                <td th:text="${restaurant.createdAt}">2024/12/12</td>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">수정일</td>
                                <td th:text="${restaurant.updatedAt}" >2024/12/12</td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">식당 분류</td>
                                <td><span class="me-1" th:each="restaurantType : ${restaurant.restaurantTypes}" th:text="${restaurantType}"></span></td>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">식당 이름</td>
                                <td th:text="${restaurant.name}">샐러디 안양점</td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">도로명 주소</td>
                                <td th:text="|${restaurant.address.roadAddress} ${restaurant.address.detailAddress}|">성남대로 9999길 1층</td>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">지번 주소</td>
                                <td th:text="|${restaurant.address.landLotAddress} ${restaurant.address.detailAddress}|" >성남대로 182-2길 1층</td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">주차 가능 여부</td>
                                <td colspan="4" th:if="${restaurant.canPark}" th:text="|주차 가능|">주차 가능</td>
                                <td colspan="4" th:unless="${restaurant.canPark}" th:text="|주차 불가능|">주차 불가능</td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">예약 시간 간격</td>
                                <td colspan="4" th:if="${restaurant.reservationTimeGap==120}" th:text="|2시간|">2시간</td>
                                <td colspan="4" th:if="${restaurant.reservationTimeGap==60}" th:text="|1시간|">1시간</td>
                                <td colspan="4" th:if="${restaurant.reservationTimeGap==30}" th:text="|30분|">30분</td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">예약 취소 시 위약금 발생 여부</td>
                                <td colspan="4" class="p-5" th:if="${restaurant.isPenalty}" th:text="|발생|">발생</td>
                                <td colspan="4" class="p-5" th:unless="${restaurant.isPenalty}" th:text="|발생하지 않음|">발생하지 않음</td>
                            </tr>





                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">제공하는 서비스 </td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border" th:each="provideServiceType : ${restaurant.provideServiceTypes}" th:text="${provideServiceType}">글루텐프리 메뉴</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">포함 음식 </td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border" th:each="containFoodType : ${restaurant.containFoodTypes}" th:text="${containFoodType}">유제품 포함</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1">분위기</td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border" th:each="moodType : ${restaurant.moodTypes}" th:text="${moodType}">활기찬</div>
                                </td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold" style="text-align:center;background-color:#D5EED1;height: 10rem;line-height: 10rem;">매장 사진</td>
                                <td colspan="4">
                                    <img class="me-1" src="/assets/images/restaurant/salardy_dache.jpeg" th:each="image : ${restaurant.restaurantImages}" th:src="@{${image}}" style="width:10rem;height:10rem">
                                </td>
                            </tr>


                            <tr>
                                <td class="table-success fw-bold " style="text-align:center;background-color:#D5EED1;justify-content:center;align-items:center;">메뉴</td>
                                <td colspan="4">
                                    <!-- 이미지 -->
                                    <div class="row align-items-center mt-5" th:each="food : ${restaurant.foods}" >
                                        <div class="col-3 col-lg-1">
                                            <img src="/assets/images/restaurant/food/food1.jpeg" th:src="@{${food.image}}" style="width:8rem;height:5rem" alt="Ecommerce" class="img-fluid">
                                        </div>

                                        <div class="col-4 col-lg-5">  <!-- col로 조절하면 됨-->
                                            <!-- title -->
                                            <a class="text-inherit">
                                                <h5 class="mb-0" style="white-space: nowrap;" th:text="${food.name}">마파두부를 올린 크림 리조또</h5>
                                            </a>
                                            <div class="mt-1">
                                                <!-- price -->
                                                <span th:text="${{food.price}}">23,000원</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>


                            <tr>
                                <table class="table border mb-0 text-center fs-5" >
                                    <thead style="background-color:#D5EED1;">
                                    <tr >
                                        <th style="text-align: center "></th>
                                        <th class="table-success fw-bold " th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.dayOfWeek}" style="text-align: center;background-color:#C7EED5 ">월요일</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr>
                                        <th class="table-success fw-bold " style="background-color:#C7EED5;text-align: center">시작 시간</th>
                                        <td style="text-align: center" th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.isDayOff ? '휴무일' : businessDay.openTime}">
                                        </td>
                                    </tr>


                                    <tr>
                                        <th class="table-success fw-bold " style="background-color:#C7EED5;text-align: center">종료 시간</th>
                                        <td style="text-align: center" th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.isDayOff ? '휴무일' : businessDay.closeTime}">
                                        </td>
                                    </tr>


                                    <tr>
                                        <th class="table-success fw-bold " style="background-color:#C7EED5;text-align: center">브레이크타임 시작 시간</th>
                                        <td style="text-align: center" th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.isDayOff ? '휴무일' : businessDay.breakStartTime}">
                                        </td>
                                    </tr>


                                    <tr>
                                        <th class="table-success fw-bold " style="background-color:#C7EED5;text-align: center">브레이크타임 종료 시간</th>
                                        <td style="text-align: center" th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.isDayOff ? '휴무일' : businessDay.breakEndTime}">
                                        </td>
                                    </tr>


                                    <tr>
                                        <th class="table-success fw-bold " style="background-color:#C7EED5;text-align: center">라스트오더</th>
                                        <td style="text-align: center" th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.isDayOff ? '휴무일' : businessDay.lastOrderTime}">
                                        </td>
                                    </tr>

                                    <tr>
                                        <!--휴무일 여부는 false가 잘 할당돼있기에 판별 할 수 있었음-->
                                        <th class="table-success fw-bold " style="background-color:#C7EED5;text-align: center;">휴무일 여부</th>
                                        <td style="text-align: center" th:each="businessDay : ${restaurant.businessDays}" th:text="${businessDay.isDayOff ? '휴무일' : '영업일'}">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </tr>


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



</html>